# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv/
.gradio/
venv/

txt_mp3_python/


# 项目特定文件
data/import/*
data/out_text/*
data/out_mp3/*
data/out_mp3_merge/*
data/out_mp4/*
data/images/*
data/tmp/*
*.zip

# 保留 data 目录结构
!data/import/.gitkeep
!data/out_text/.gitkeep
!data/out_mp3/.gitkeep
!data/out_mp3_merge/.gitkeep
!data/out_mp4/.gitkeep
!data/images/.gitkeep
!data/tmp/.gitkeep